body {
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    background-color: #000;
    color: #fff;
    /* transition: background-color 1s; */
}

.container {
    /* text-align: center; */
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* #party-title {
    font-size: 36px;
} */

img {
    width: 100%;
    height: auto;
    display: block;
}

.confirm-presence iframe {
    width: 100%;
}